[Unit]
Description=HTTP webcam server
Requires=qwebcamsrv.socket
After=qwebcamsrv.socket
Documentation=https://github.com/jchv/qwebcamsrv

[Service]
Type=simple
EnvironmentFile=/etc/qwebcamsrv.conf
ExecStart=/usr/bin/qwebcamsrv
Restart=on-failure
RestartSec=5s
User=qwebcam
Group=video
SupplementaryGroups=video
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryMax=256M
